body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
    background-color: #4e0101
}

header {
    background: #3d0000;
    color: #ac6d00;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

#search, #genero, #idade {
    padding: 12px 15px;
    margin: 10px 5px;
    border: 1px solid #ac6d00;
    border-radius: 25px;
    background-color: #4e0101;
    width: 220px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#search:focus, #genero:focus, #idade:focus {
    border-color: #ac6d00; 
    box-shadow: 0px 4px 12px #ac6d00;
    outline: none; 
}

#search:hover, #genero:hover, #idade:hover {
    box-shadow: 0 0 5px #ac6d00;
}

#search {
    color: #ac6d00;
    background-color: #4e0101;
}

#genero, #idade {
    color: #ac6d00; 
    background-color: #4e0101;
}
#genero:hover option,
#idade:hover option {
    background-color: #4e0101;
    color: #ac6d00; 
}

#destaques h2 {
    color: #ac6d00; 
}

option {
    color: #ac6d00;
    background-color: #4e0101;
}


label {
    margin-right: 10px;
    font-weight: bold;
}

main {
    padding: 20px;
}

#destaques {
    margin-top: 20px;
}

#filmes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.filme {
    background: #ac6d00;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(148, 35, 35, 0.1);
    text-align: center;
}

.filme img {
    max-width: 100%;
    border-radius: 5px;
}
.filme:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 6, 6, 0.2);
    transition: transform 0.3s, box-shadow 0.3;
}

footer {
    background-color: #ac6d00;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: relative;
}
#logo {
    max-width: 200px; 
    height: auto; 
    margin-bottom: 10px;
}
.filme-link {
    text-decoration: none;
    color: inherit; 
}

.filme-link:hover {
    color: #4e0101;
}
header a {
    display: inline-block;
}

#logo1 {
    max-width: 935px; 
    height: auto; 
}







#filme-detalhes {
    display: flex;
    justify-content: left;
    padding: 20px;
}
.filme-info {
    margin-left: 20px; 
}
.filme-info img {
    width: 45px; 
    height: auto;
}
